* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  display: grid;

  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.red {
  background-color: red;
  padding: 40px;
  grid-column: 1 / 5;
  grid-row: span 2;
}

.yellow {
  background-color: yellow;
  padding: 40px;
  grid-column: span 2;
  grid-row: span 2;
}

.green {
  background-color: green;
  padding: 40px;
  grid-row: span 2;
  grid-column: span 3;
}

.blue {
  background-color: blue;
  padding: 40px;

  grid-column: span 3;
}

.brown {
  background-color: brown;
  padding: 40px;
  grid-column: span 3;
}
